@model HouseNumberVM

<div class="w-100 card border-0 p-4 mb-1">
    <div class="card-header shadow-lg ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-secondary py-2">Create Houses Number</h3>
            </div>
        </div>
    </div>

    <div class="card-body border p-4">
        <form method="post" class="border p-4">
            <div class="p-3">
                <div asp-validation-summary="ModelOnly" class="alert alert-light" role="alert">
                </div>

                <div class="form-floating py-2 col-12">
                    <input asp-for="@Model.HouseNumber.House_Number" class="form-control border shadow" />
                    <label asp-for="HouseNumber.House_Number" class="ms-2"></label>
                    <span asp-validation-for="HouseNumber.House_Number" class="text-danger"></span>
                </div>


             @*    <div class="form-floating py-2 col-12">
                    <select asp-for="@Model.HouseNumber.HouseId" id="HouseId" name="HouseId" class="form-control border shadow">
                        @if  (ViewData["Houses"] is List<House> houses){
                            @foreach (var house in houses)
                            {
                                <option selected="selected" value="@house.Id">@house.Name</option>
                            }
                        }
                    </select>
                    <label asp-for="HouseNumber.HouseId" class="ms-2">HouseId</label>
                </div>  *@


                <div class="form-floating py-2 col-12">
                    <select asp-for="@Model.HouseNumber.HouseId" asp-items="@Model.HouseList" class="form-select border shadow">
                     
                                <option selected="selected" disabled >--Select</option>
                        
                    </select>
                    <label asp-for="HouseNumber.HouseId" class="ms-2">HouseId</label>
                </div>


                <div class="form-floating py-2 col-12">
                    <input asp-for="@Model.HouseNumber.SpecialDetails" class="form-control border shadow" />
                    <label asp-for="HouseNumber.SpecialDetails" class="ms-2"></label>
                    <span asp-validation-for="HouseNumber.SpecialDetails" class="text-danger"></span>
                </div>
                
              
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button class="btn btn-success w-100">
                            <i class="bi bi-check-circle"></i> Create
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-action="Index" asp-controller="HouseNumber" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial.cshtml" />
    }
}